/* Gets rid of the vertical list style of the navigation bar (ie: no bullets, circles, etc.) */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Makes the nav bar "float" but horizontally in a "block-like formation" (horizontally) */
nav li {
  display: inline-block;
  position: relative;
}

nav li a {
  display: inline-block;
  color: #47360a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Creates a colored box when the cursor is placed over a certain content area of the navigation bar; shows 
viewer what they will click on */
nav li a:hover:not(.active) {
  background-color: darkgray;
}

/* The active page will have a dark gray box over its place in the navigation bar */
nav li a.active {
  background-color: darkgray;
}

/* Shows a screenshot of the embedded video from the home page as a background for the rest of the site's pages */
body {
  background-image: url("Still_Background.jpg");
  margin: 60px auto;
  width: 70%;
}

/* Style the video: 100% width and height to cover the entire window */
#myBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Creates a transparent background for the page's content to lay upon so its easily read by the viewer */
.content {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Makes all headers white, the same font, and the same size */
h1 {
  color: white;
  text-align: center;
  font-size: 3em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 40px;
    line-height: 1.4em;
    color: white;
}

/* Adjusts the size and properties of centered pictures */
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%
}
  
.button{
	margin-top: 10px;
	margin-left: 60px auto;
}

/* Creates a border around each button and adjusts its size and properties */
.btn{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-tranform: uppercase;
	font-family: "Roboto", 'Sans-Serif';
}

ul.a li a:link {
	color: white
}

ul.a li a:hover {
	color: #47360a
}

/* Visually separates the page's content from the footer using a line */
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

/* Horizontal list and visual properties and font styles */
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

/* Horizontal list, a certain number of pixels from the right margin */
footer ul li {
    display: inline;
    margin-right: 20px;
}
footer ul li a {
    text-decoration: none;
    color: #999;
}

/* Underline shows on the element the cursor is hovered over */
footer ul li a:hover {
    text-decoration: underline;
}
